<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KKPH9MP");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/1ad879b5e0.js"
      crossorigin="anonymous"
    ></script>

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KKPH9MP"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="Nav-banner">
      <div class="card bg-dark text-white">
        <img src="../../images/carnecuchillo.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <div class="container-fluid">
            <div></div>
            <div class="row justify-content-end m-4">
              <div class="col-7 col-lg-6 text-center">
                <img class="titulo" src="../../images/Logocentral.png" alt="" />
              </div>

              <div class="col-4">
                <ul class="icons list-inline m-3 text-end">
                  <a href="" class="p-2"
                    ><li class="list-inline-item">
                      <i class="fab fa-2x fa-instagram text-light"></i></li
                  ></a>
                  <a href="" class="p-2"
                    ><li class="list-inline-item">
                      <i class="fab fa-2x fa-facebook text-light"></i></li
                  ></a>
                  <a href="" class="p-2"
                    ><li class="list-inline-item">
                      <i class="fab fa-2x fa-whatsapp text-light"></i></li
                  ></a>
                </ul>
              </div>
            </div>
            <div class="row m-4">
              <div class="col-md-7 col-lg-6 col-xl-5 text-uppercase">
                <h5 class="h2-subt">~ Sé parte del cambio ~</h5>

                <h2 class="h2-titulo fs-1 text-break">
                  Vendé carnes de regeneración en tu comercio.
                </h2>
              </div>

              <div class="col-md-5 col-lg-6 col-xl-7">
                <h3 class="text-center h2-subt">
                  ¡Contactanos para conocer más!
                </h3>
                <form class="mt-4">
                  <div class="row">
                    <div class="col text-center">
                      <input
                        type="text"
                        class="form-control form-control-lg mb-3 border-0"
                        placeholder="Nombre"
                        aria-label="Nombre"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg border-0"
                        placeholder="Email"
                        aria-label="Email"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <input
                        type="text"
                        class="form-control form-control-lg mb-3 border-0"
                        placeholder="Teléfono"
                        aria-label="Teléfono"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg border-0"
                        placeholder="Nombre del comercio"
                        aria-label="NombComerc"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <input
                        type="text"
                        class="form-control form-control-lg mb-3 border-0"
                        placeholder="Dirección del comercio"
                        aria-label="DirecComerc"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        class="form-control form-control-lg border-0"
                        placeholder="Tipo del comercio"
                        aria-label="TipoComerc"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <textarea
                        class="form-control form-control-lg border-0 text-light"
                        rows="3"
                        placeholder="Consulta"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center text-light">
                      <button type="button " class="btn-lg enviar mt-3">
                        Enviar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Seccion A -->
    <div class="seccionA">
      <div class="container">
        <div class="text-center">
          <ul>
            <li class="list-inline-item">
              <img class="img-cert" src="../../images/CertificadoB.png" />
            </li>

            <li class="list-inline-item">
              <img class="img-cert" src="../../images/Fscertificado.png" />
            </li>

            <li class="list-inline-item">
              <img class="img-cert" src="../../images/landtomarketCertif.png" />
            </li>
          </ul>
        </div>

        <h2 class="text-center h6seccB">Somos una empresa certificada</h2>
      </div>
    </div>
    <!-- Seccion B -->
    <div class="container">
      <div class="text-center mb-5 mt-5 col-md-6 offset-md-3 ">
        
          
          <h2 class=" text-break word-break text-center sabes ">¿SABÉS LO QUE ES LA CARNE
            DE REGENERACIÓN?</h2>
        
      </div>
      <div class="row g-0 justify-content-center text-center">
        <div class="col-6">
          <img class="img-cards img-fluid" src="../../images/vaca.jpg" alt="" />
        </div>
        <div class="col-6">
          <div>
            <img class="logos" src="../../images/logo2s.png" alt="" />
          </div>
          <h2 class="text-wrap cambio">
            El manejo regenerativo es parte de la solución al cambio climático.
          </h2>
          <h5 class="mt-5">
            Los pastizales nativos capturan el CO2 del aire y lo almacenan en el
            suelo, ayudando a mejorar entre otras variables la salud de los
            ecosistemas y a disminuir la temperatura del planeta.
          </h5>
        </div>
      </div>
      <div class="row g-0 justify-content-center text-center">
        <div class="col-6">
          <div>
            <img class="logos" src="../../images/logo1s.png" alt="" />
          </div>
          <h2 class="text-wrap cambio">
            Desde la bio mímica de la naturaleza logramos la eficiencia
            productiva
          </h2>
          <h5 class="mt-5">
            La regeneración que se logra con los rodeos de rumiantes es la
            restauración de procesos vitales de los ecosistemas, haciéndolos más
            robustos y saludables.
          </h5>
        </div>
        <div class="col-6">
          <img
            class="img-cards img-fluid"
            src="../../images/pastizal.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="row g-0 justify-content-center text-center">
        <div class="col-6">
          <img
            class="img-cards img-fluid"
            src="../../images/atardecer.jpg"
            alt=""
          />
        </div>
        <div class="col-6">
          <div>
            <img class="logos" src="../../images/logo3s.png" alt="" />
          </div>
          <h2 class="text-wrap cambio">
            La naturaleza creó un sistema excepcional.
          </h2>
          <h5 class="mt-5">
            La naturaleza y los seres vivos han co evolucionado en un perfecto
            balance desde hace millones de años. La única falla fuimos nosotros.
            ESTAMOS A TIEMPO de transformar este escenario.
          </h5>
        </div>
      </div>
    </div>

    <!-- Separate Popper and Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
