<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-KKPH9MP"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Banner -->
  <div class="Nav-banner">
    <div class="card bg-dark text-white">
      <img src="../../images/carnecuchillo.jpg" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <div class="container-fluid" id="contacto">
          <div class="row justify-content-end m-4">
            <div class="col-7 col-lg-6 text-center">
              <img class="titulo" src="../../images/Logocentral-Past.png" alt="" />
            </div>

            <div class="col-4 items1">
              <ul class="icons list-inline m-3 text-end">
                <a href="" class="p-2"
                  ><li class="list-inline-item">
                    <i class="fab fa-2x fa-instagram text-light"></i></li
                ></a>
                <a href="" class="p-2"
                  ><li class="list-inline-item">
                    <i class="fab fa-2x fa-facebook-f text-light"></i></li
                ></a>
                <a href="" class="p-2"
                  ><li class="list-inline-item">
                    <i class="fab fa-2x fa-whatsapp text-light"></i></li
                ></a>
              </ul>
            </div>
          </div>
          <div class="row m-4">
            <div class="col-md-7 col-lg-6 col-xl-5 text-uppercase">
              <h5 class="h2-subt">~ Sé parte del cambio ~</h5>

              <h2 class="h2-titulo fs-1 text-break">
                Vendé carnes de regeneración en tu comercio.
              </h2>
            </div>

            <div class="col-md-5 col-lg-6 col-xl-7">
              <h3 class="text-center h2-subt">
                ¡Contactanos para conocer más!
              </h3>

              <h2 class="text-wrap text-break text-center mt-5">
                Muchas gracias por contactarnos. Respondemos a la brevedad
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
