<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-KKPH9MP"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Banner -->
  <div class="Nav-banner">
    <div class="card bg-dark text-white">
      <img src="../../images/carneBanner.jpg" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <div class="container-fluid" id="contacto">
          <div class="row justify-content-end m-4">
            <div class="col-7 col-lg-6 text-center">
              <img class="titulo" src="../../images/Logocentral-Past.png" alt="" />
            </div>

            <div class="col-4 items1">
              <ul class="icons list-inline m-3 text-end">
                <a href="" class="p-2"
                  ><li class="list-inline-item">
                    <i class="fab fa-2x fa-instagram text-light"></i></li
                ></a>
                <a href="" class="p-2"
                  ><li class="list-inline-item">
                    <i class="fab fa-2x fa-facebook-f text-light"></i></li
                ></a>
                <a href="" class="p-2"
                  ><li class="list-inline-item">
                    <i class="fab fa-2x fa-whatsapp text-light"></i></li
                ></a>
              </ul>
            </div>
          </div>
          <div class="row m-4">
            <div class="col-md-7 col-lg-6 col-xl-5 text-uppercase">
              <h5 class="h2-subt">~ Sé parte del cambio ~</h5>

              <h2 class="h2-titulo fs-1 text-break">
                Vendé carnes de regeneración en tu comercio.
              </h2>
            </div>

            <div class="col-md-5 col-lg-6 col-xl-7">
              <h3 class="text-center h2-subt">
                ¡Contactanos para conocer más!
              </h3>
              <form class="mt-4">
                <div class="row">
                  <div class="col text-center">
                    <input
                      type="text"
                      class="form-control form-control-lg formB mb-3 border-0"
                      placeholder="Nombre"
                      aria-label="Nombre"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control form-control-lg formB border-0"
                      placeholder="Email"
                      aria-label="Email"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center">
                    <input
                      type="text"
                      class="form-control form-control-lg formB mb-3 border-0"
                      placeholder="Teléfono"
                      aria-label="Teléfono"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control form-control-lg formB border-0"
                      placeholder="Nombre del comercio"
                      aria-label="NombComerc"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center">
                    <input
                      type="text"
                      class="form-control form-control-lg formB mb-3 border-0"
                      placeholder="Dirección del comercio"
                      aria-label="DirecComerc"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control form-control-lg  formB border-0"
                      placeholder="Tipo del comercio"
                      aria-label="TipoComerc"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <textarea
                      class="form-control form-control-lg formB border-0 text-light"
                      rows="3"
                      placeholder="Consulta"
                    ></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center text-light">
                   <button type="submit" class="enviar mt-3">Enviar</button> 
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
