<form action=" " class="container-fluid form">
  <h2 class="text-center h2-form">Pastizales Nativos - Revendedor</h2>

  <div class="row justify-content-around mt-5">
    <div class="col-5">
      <input
        class="form-control-lg border-0 form-input"
        type="text"
        placeholder="Nombre"
        aria-label="Coloque tu nombre"
        required
      />
    </div>
    <div class="col-5">
      <input
        class="form-control-lg border-0 form-input"
        type="text"
        placeholder="Apellido"
        aria-label="Coloque tu apellido"
        required
      />
    </div>
  </div>
  <div class="row justify-content-around mt-4">
    <div class="col-5">
      <input
        class="form-control-lg border-0 form-input"
        type="text"
        placeholder="Teléfono"
        aria-label="Coloque tu teléfono"
        required
      />
    </div>
    <div class="col-5">
      <input
        class="form-control-lg border-0 form-input"
        type="email"
        placeholder="email@email.com"
        aria-label="Coloque tu apellido"
        required
      />
    </div>
  </div>
  <div class="row justify-content-around mt-4">
    <div class="col-5">
      <input
        class="form-control-lg border-0 form-input"
        type="text"
        placeholder="Nombre del comercio"
        aria-label="Coloque el nombre del comercio"
        required
      />
    </div>
    <div class="col-5">
      <input
        class="form-control-lg border-0 form-input"
        type="text"
        placeholder="Dirección"
        aria-label="Coloque la dirección"
        required
      />
    </div>
  </div>
  <div class="row justify-content-around mt-4">
    <div class="col-5">
      <select
        class="form-select form-input"
        multiple
        aria-label="Seleccione su tipo de negocio"
      >
        <option selected disabled>Seleccione sus tipos de negocio</option>
        <option value="1">Almacen</option>
        <option value="2">Carnicería</option>
        <option value="3">Supermercado</option>
        <option value="4">Comercio Delicatessen</option>
      </select>
    </div>
    <div class="col-5">
      <textarea
        class="form-control-lg form-input"
        placeholder="Consultas"
        rows="2"
      ></textarea>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-2">
      <button class="btn-form text-center" type="submit">Enviar</button>
    </div>
  </div>
</form>
