<div class="container seccionD">
  <div class="row">
    <div class="col text-center">
      <h3 class="h3-texto mb-3">~ SUMÁ NUESTROS PRODUCTOS A TU COMERCIO ~</h3>
      <h2 class="text-uppercase h2-text-D text-break text-wrap">
        <strong>y ayudanos a mejorar el planeta. </strong>
      </h2>
    </div>
  </div>
</div>
