<!-- Seccion B -->
<div class="container">
    <div class="text-center mb-5 mt-5 col-md-6 offset-md-3 ">
      
        
        <h2 class=" text-break word-break text-center sabes ">¿SABÉS LO QUE ES LA CARNE
          DE REGENERACIÓN?</h2>
      
    </div>
    <div class="row g-0 justify-content-center text-center">
      <div class="col-6">
        <img class="img-cards vaca img-fluid" src="../../images/vaca.jpg" alt="" />
      </div>
      <div class="col-6">
        <div>
          <img class="logos" src="../../images/logo2s.png" alt="" />
        </div>
        <h2 class="text-wrap cambio">
          El manejo regenerativo es parte de la solución al cambio climático.
        </h2>
        <h5 class="mt-5">
          Los pastizales nativos capturan el CO2 del aire y lo almacenan en el
          suelo, ayudando a mejorar entre otras variables la salud de los
          ecosistemas y a disminuir la temperatura del planeta.
        </h5>
      </div>
    </div>
    <div class="row g-0 justify-content-center text-center">
      <div class="col-6">
        <div>
          <img class="logos" src="../../images/logo1s.png" alt="" />
        </div>
        <h2 class="text-wrap cambio">
          Desde la bio mímica de la naturaleza logramos la eficiencia
          productiva
        </h2>
        <h5 class="mt-5">
          La regeneración que se logra con los rodeos de rumiantes es la
          restauración de procesos vitales de los ecosistemas, haciéndolos más
          robustos y saludables.
        </h5>
      </div>
      <div class="col-6">
        <img
          class="img-cards img-fluid pastizal"
          src="../../images/pastizal.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="row g-0 justify-content-center text-center">
      <div class="col-6">
        <img
          class="img-cards img-fluid atardecer"
          src="../../images/atardecer.jpg"
          alt=""
        />
      </div>
      <div class="col-6">
        <div>
          <img class="logos" src="../../images/logo3s.png" alt="" />
        </div>
        <h2 class="text-wrap cambio">
          La naturaleza creó un sistema excepcional.
        </h2>
        <h5 class="mt-5">
          La naturaleza y los seres vivos han co evolucionado en un perfecto
          balance desde hace millones de años. La única falla fuimos nosotros.
          ESTAMOS A TIEMPO de transformar este escenario.
        </h5>
      </div>
    </div>
  </div>