<!-- Seccion A -->
<div class="seccionA">
    <div class="container">
      <div class="text-center">
        <ul>
          <li class="list-inline-item">
            <img class="img-cert" src="../../images/CertificadoB.png" />
          </li>

          <li class="list-inline-item">
            <img class="img-cert" src="../../images/Fscertificado.png" />
          </li>

          <li class="list-inline-item">
            <img class="img-cert" src="../../images/landtomarketCertif.png" />
          </li>
        </ul>
      </div>

      <h2 class="text-center h6seccB">Somos una empresa certificada</h2>
    </div>
  </div>